/*acciones*/
.registro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 100%;
}
.registro .full-width {
    grid-column: span 2;
}
textarea {
    width: 100%;
    resize: vertical;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container {
    margin: 0 auto;
    padding: 10px;
    border-radius: 8px;
    width: 95%;
}
.styled-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}
.boton_auto{
    margin-top: 20px;
}
.styled-form label {
    color: #001f5a;
    width: 100%;
    font-weight: bold;
}
.styled-form input, .styled-form select, .styled-form textarea, .styled-form button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.styled-form input:focus, .styled-form select:focus, .styled-form textarea:focus, .styled-form button:focus {
    outline: none;
    border-color: #053c8f;
}
.styled-form button {
    margin-top: 20px;
    background-color: #053c8f;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.styled-form button:hover {
    background-color: #112872;
}
.btn-guardar{
    background-color: #053c8f;
    color: #fff;
}
.btn-guardar:hover{
    background-color: #0d1668;
}

.agregar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 10px;  
}
.btn-agregar {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #053c8f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-agregar:hover {
    background-color: #112872;
}
.btn-ver-detalles {
    background-color: #053c8f;
    color: white;
    border: none;
    padding: 8px 15px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-ver-detalles:hover {
    background-color: #112872;
}
#detalles-content {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #001f5a;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    line-height: 1.6;
}
#detalles-content .detalle {
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que bajen si hay más de 4 */
    justify-content: center; /* Centra horizontalmente las cards */
    gap: 20px; /* Espacio entre cards */
    padding: 20px; /* Espacio alrededor */
}

.card {
    background: #ffffff;
    border: 2px solid #053c8f; /* Azul institucional */
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.card-title {
    font-size: 18px;
    font-weight: 600;
    margin: 15px 0 10px;
    color: #030b7e;
}
.card-hora {
    font-size: 14px;
    color: #a0003d;
    margin-bottom: 15px;
}
.carreras-checkbox label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.carreras-checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid #053c8f;
    border-radius: 3px;
    cursor: pointer;
    appearance: none;
}
.carreras-checkbox input[type="checkbox"]:checked {
    background-color: #053c8f; 
    border-color: #112872;
}
.carreras-checkbox input[type="checkbox"]:hover {
    box-shadow: 0 0 5px rgba(5, 60, 143, 0.5);
}
.input-file {
    display: none;
}
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    background-color: #053c8f;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.custom-file-upload:hover {
    color: white;
    background-color: #112872;
}
#archivo-seleccionado {
    color: #001f5a;
    margin-top: 10px;
    font-size: 14px;
}
input[type="date"],
input[type="time"] {
    border-radius: 4px;
    padding: 5px;
    outline: none;
}
@media (max-width: 768px) {
    .styled-form {
        grid-template-columns: repeat(2, 1fr);
    }
    .styled-form button, .styled-form textarea {
        grid-column: span 2;
    }
}
@media (max-width: 480px) {
    .styled-form {
        grid-template-columns: 1fr;
    }
    .styled-form button, .styled-form textarea {
        grid-column: span 1;
    }
}
table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 95%;
    table-layout: fixed;
    word-wrap: break-word;
    background: #fff;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    table-layout: auto;
}
th, td {
    font-size: 13px;
    border: 1px solid #112872;
    text-align: center;
    padding: 3px;
}
th {
    padding: 5px;
    color: white;
    background-color: #112872;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover {
    background: linear-gradient(90deg, #c7d1eb, #c5c1c1);
}
table td a {
    display: block; 
    color: inherit;
    text-decoration: none;
}

.search-container {
    position: relative;
    width: 80%;
    max-width: 400px;
    margin: 10px auto;
}
#buscarDNI {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}
#buscarDNI:focus{
    outline: none;
    border-color: #053c8f;
}
#clearSearch {
    cursor: pointer;
    font-size: 1.5rem;
    color: #414141;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.buscar_eliminar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.search-container {
    display: flex;
    align-items: center;
}
.btn-secondary {
    margin-right: 50px;
    align-items: center;
    background-color: #b32828;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    transition: background-color 0.3s ease;
}
.btn-secondary:hover {
    background-color: #8c0000;
}
.btn-details{
    background-color: #053c8f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
.btn-details:hover{
    background-color: #112872;
}
.btn-edit {
    background-color: #05638f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
.btn-edit:hover {
    background-color: #114486;
}
.btn-delete {
    text-decoration: none;
    background-color: #b32828;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}
.btn-delete:hover {
    background-color: #8c0000;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
}
.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.modal-content form {
    display: flex;
    flex-direction: column;
}
.modal-content label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}
.modal-content input, 
.modal-content select, 
.modal-content textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
}
.modal-content input:focus, 
.modal-content select:focus, 
.modal-content textarea:focus {
    outline: none;
    border-color: #053c8f;
}
.modal-content .button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}
.modal-content button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
}
.modal-content button[name="actualizar"] {
    background-color: #053c8f;
    color: #fff;
}
.modal-content button[name="actualizar"]:hover {
    background-color: #082175;
}
.modal-content button[type="button"] {
    background-color: #b32828;
    color: #fff;
}
.modal-content button[type="button"]:hover {
    background-color: #8c0000;
}
#modalEditar label {
    color: #001f5a; /* Azul oscuro */
    font-weight: bold; /* Opcional, para destacarlos más */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #b32828;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}
.modal-close:hover {
    color: #8c0000;
    transform: scale(1.2);
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.filter-container {
    text-align: center;
    margin: 20px 0;
}
.filter-container label {
    font-size: 15px;
    margin-right: 10px;
}
#filtroFecha {
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-filtro {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    width: auto;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    max-width: 100%; 
}
.label-agrupacion {
    font-size: 14px;
    margin-right: 5px;
}
.select-agrupacion {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 20px;
}
.select-agrupacion:focus {
    outline: none;
    border-color: #053c8f;
}
.btn-filtrar {
    background-color: #053c8f;
    padding: 7px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-filtrar:hover {
    background-color: #112872;
}
.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    padding-right: 20px;
}
.button-group button {
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
#btnDescargarPDF {
    background-color: #a71847;
}
#btnDescargarExcel {
    background-color: #053c8f;
}
#btnDescargarPDF:hover {
    background-color: rgb(107, 0, 41);
}
#btnDescargarExcel:hover {
    background-color: #112872;
}
.tabla-container {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.tabla-registros th, .tabla-registros td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000cb3;
}
.tabla-registros .tabla-header {
    background-color: #053c8f;
    color: white;
    font-weight: bold;
}
.tabla-registros .fecha-agrupacion {
    background-color: #880022;
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
    color: white;
    padding: 5px;
}
.icon-buttons {
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}
.icon-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #b32828;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 13px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}
.icon-buttons a i {
    margin-right: 5px;
    font-size: 18px;
}
.icon-buttons a:hover {
    background-color: #8c0000;
}
.icon-buttons .volver {
    background-color: #053c8f;
    font-size: 13px;
}
.icon-buttons .volver:hover {
    background-color: #112872;
}
.textomanu{
    text-align: center;
}
.manualadmin {
    text-align: center;
    margin: auto;
    padding: 20px;
}
.manualadmin p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
.paso {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.paso img.imagen-paso {
    max-width: 80%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(17, 40, 114, 0.1);
}
.paso p.texto-paso {
    font-size: 1rem;
    margin: 0;
}
.link {
    color: #053c8f;
    text-decoration: none;
    font-weight: bold;
}
.link:hover {
    text-decoration: underline;
}
#detalles-content img {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.file-foto-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
.file-foto-container input[type="file"] {
    display: none;
}
.file-foto-label {
    display: inline-block;
    background-color: #b4c3da;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #112872;
    font-size: 14px;
}
.file-foto-label:hover {
    background-color: #b32828;
    color: white;
}
.file-foto-label i {
    font-size: 1.2em;
    margin-right: 8px;
}
.file-name {
    margin-top: 10px;
    font-style: italic;
    color: #02008d;
    font-size: 0.9em;
}
